
//
// VARIABLES
//
//@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Raleway|Futura|IBM+Plex+Serif');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;400;800&display=swap');


// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$night: #071108;
$ultraViolet: #5D5D81;
$columbiaBlue: #BFCDE0;
$white2: #FEFCFD;
$celadon: #B6EEA6;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$title: 'Noto+Serif:wght@800', serif;
$subtitle: 'Noto+Serif:wght@300', serif;
$normalFont: 'Noto+Serif:wght@400', serif;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}