<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  
  <link rel="icon" href="images/logo.png" type="image/x-icon">
  </head>

  <body>
      <header class="masthead clearfix">
        

        <h1 class="site-name">{{ site.name }}</h1>
        <p class="site-description">{{ site.description }}</p>

        <nav>
          <a href="{{ site.baseurl }}/">Home</a>

          <a href="{{ site.baseurl }}/projects">Projects</a>
          <a href="https://scholar.google.com/citations?user=NRzrm0kAAAAJ&hl=en">Publications</a>
          <a href="{{ site.baseurl }}/thoughts">Thoughts</a>
        </nav>
      </header>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    {% include analytics.html %}
  </body>

</html>
